<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" href="static/druha.css" type="text/css">
		<title>Graf</title>
	</head>
	<body>
		<script type="text/javascript" src="static/jquery.min.js"></script>
        <script src="static/hightcharts/js/highcharts.js"></script>
        <script src="static/hightcharts/js/highcharts-3d.js"></script>
        <script src="static/hightcharts/js/modules/exporting.js"></script>

        <script type="text/javascript">
        $(function () {
            $('#prvni_graf').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: '{{data.popisek}}'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                        '{{data.napoveda}}' :
                        'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                minRange: 7*24*60*60*1000,         //časový úsek v ms, který se zobrazí při maximálním přiblížení (7 dní)
            },
            yAxis: {
                title: {
                    text: '{{data.popisekYosy}}'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 2
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: '{{data.komentBublina}}',
                pointInterval: 24*60*60*1000,        //čas v ms mezi 2 hodnotama (24 hodin)
                pointStart: Date.UTC(2015, 0, 1),
                data: [{{data.teploty}}]
            }]
            });
         });
        </script>


        <h1>Graf </h1>
         <form action="" method="post">
            <input type="submit" name="tlacitko" value="Zobrazit informacni zpravu">
            <input type="submit" name="tlacitko" value="Zobraz graf">
        </form>

        {% if html_graf != "" %}
                {{html_graf}}
        {%endif%}

        <p> {% if text != "" %}
                {{text}}
            {%endif%}
        </p>
	</body>
</html>
