<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Hlavní stránka</title>
    <link rel="stylesheet" href="static/hlavni_stranka.css" type="text/css">
</head>
<body>
    <h1>Úvodní stránka</h1>
    <p>Tato stránka slouží ke zkoumání využitelnosti webového frameworku Flask, založeném na jazyce Python.</p>
    <p>{{ text }}</p>
    <a href="graf"><p>Graf</p></a>
    <form action="" method="POST">
        <input type="submit" name="tlacitko" value="Zobraz zprávu"/>
    </form>
</body>
</html>